body {
    font-family: Arial, sans-serif;
    background-color: #f4f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left; /* Align labels to the left */
    color: #555;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
  }
  
  label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  